name: "CI"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: "Unit test"
    runs-on: 'ubuntu-latest'
    steps:
    - name: "[Checkout] repository"
      uses: actions/checkout@v5

    - name: "[Golang] Install Go"
      uses: actions/setup-go@v5
      with:
        go-version: "1.25.4"

    - name: "[Golang] Check go version"
      run: go version
    
    - name: "[Golang] Go mod tidy"
      run: go mod tidy

    - name: "[Golang] Go test"
      run: |
        go test -race -covermode=atomic -coverprofile=reflector.out ./reflector
        go test -race -covermode=atomic -coverprofile=config.out ./config
        go test -race -covermode=atomic -coverprofile=resource.out ./resource
    
    - name: "[Codecov] Upload coverage"
      uses: codecov/codecov-action@v5
      with:
        files: reflector.out,config.out,resource.out
        flags: unittests # optional
        token: ${{ secrets.CODECOV_TOKEN }} # required
        verbose: true # optional (default = false)
